.emailListSettings{
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
    padding: 8px;
}

.emailListSettingsLeft {
    display: flex;
    align-items: center;
} 

.emailListSettingsRight {
    display: flex;
    align-items: center;
} 