* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 300px; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.page-front {
    text-align: center;
    margin-bottom: 20px;
}

.page-front img {
    object-fit: contain;
    height: 50px;
    margin-left: 5px;
}


.page-front h3 {
    padding-left: 10px;
    font-size: 1.5em;
}


.input-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.submit-btn {
    width: 100%;
    background-color: #007bff; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    width: 100%;
    background-color: #ddd; 
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


